﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Web Parser</h2>

        <form action="" method="post" class="form-inline">
            <label>Insert Url</label>
            <input type="type" name="url" value="" required class="form-control"/>
            <label>Choice Tag</label>
            <input type="type" name="tag" value="" required class="form-control"/>
            <input type="submit" name="name" value="Parse" class="btn btn-success"/>
            <a href="/" class="btn btn-danger">Reset</a>
        </form>
        <hr>
        @if (ViewBag.Web != null)
        {
            @foreach (var t in ViewBag.Web)
            {
                <p>
                    Tag Name: @t.Name <br>
                    Content: @t.Content <br>
                    Attributes:<br>
                    @foreach (var i in @t.Attributes)
                    {
                        <b>@i.Name: </b>
                        foreach (var x in i.Value)
                        {
                            <b>@x, </b>
                        }
                        <br>
                    }
                    <hr>

                </p>
            }
        }
        else
        { 
                <h2>Insert site url and choice tag for parsing</h2>
        }

    </div>
</div>
